parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  sendmail
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    is_multilingual: true

    admin_email: 

    admin:
        wysiwyg: true
        maintenance: false

    facebook:
        app_id:
        app_secret:
        
    twitter:
        consumer_key: 
        consumer_secret: 

    google:
        oauth2_client_id: 
        oauth2_client_secret:
        oauth2_api_key:
        oauth2_redirect_uri: 
        api_server_key: 
        api_browser_key: 
        service_client_id: 
        service_email_address: 
        service_key_fingerprints: 
        view_id: 
        analytics: 

    menu:
        admin_index:
            label: Dashboard
            icon: se7en-home
            route: _admin_index
            role: ROLE_SUPERADMIN
        cms:
            label: 'Content management'
            icon: icon-folder-open-alt
            role: ROLE_SUPERADMIN
            submenu:
                content:
                    route: _cms_content
                    label: Content
                    role: ROLE_SUPERADMIN
                blog:
                    route: _blog_content
                    label: Blog
                    attributes: 
                        date : 9
                        title : 1
                        author : 1
                        content : 4
                        media : 2
                    role: ROLE_SUPERADMIN
                template:
                    route: _cms_templates_list
                    label: 'Templates setup'
                    role: ROLE_SUPERADMIN
                block:
                    route: _cms_blocks_list
                    label: 'Blocks setup'
                    role: ROLE_SUPERADMIN
                list:
                    route: _admin_listboxs_list
                    label: 'Lists setup'
                    role: ROLE_SUPERADMIN
                role:
                    route: _cms_roles
                    label: Roles
                    role: ROLE_SUPERADMIN
        gallery:
            label: Medialibrary
            icon: icon-picture
            route: _media_list
            role: ROLE_SUPERADMIN
        admin:
            label: Admin
            icon: icon-cogs
            role: ROLE_SUPERADMIN
            submenu:
                users:
                    label: Users
                    route: _admin_users
                    role: ROLE_SUPERADMIN
                host:
                    label: Domains
                    route: _admin_domains
                    role: ROLE_SUPERADMIN
                language:
                    label: Languages
                    route: _admin_languages
                    role: ROLE_SUPERADMIN
                language_messages:
                    label: 'Static Translations'
                    route: _admin_language_messages
                    role: ROLE_SUPERADMIN
                roles:
                    label: Roles
                    route: _admin_roles
                    role: ROLE_SUPERADMIN
        trash:
            label: Trash
            icon: icon-trash
            route: _admin_trashs
            role: ROLE_SUPERADMIN
            entities: 
                user:
                    label: User
                    entity: User\User
                    bundle: MajesCore
                    title: email
                role:
                    label: Role
                    entity: User\Role
                    bundle: MajesCore
                    title: role
                host:
                    label: Domain
                    entity: Host
                    bundle: MajesCore
                    title: title
                pagelang:
                    label: Page
                    entity: PageLang
                    bundle: MajesCms
                    title: title
                template:
                    label: Template
                    entity: Template
                    bundle: MajesCms
                    title: title
                block:
                    label: Block
                    entity: Block
                    bundle: MajesCms
                    title: title
